<h1>Project</h1>
<p>Lista di tutti i progetti</p>

<ul>
  <% @projects.each do |project| %>
    <li>
      <%= project.title %> <%= button_to "Info", {action: "show", id: project.id}, method: :get %>
    </li>
  <% end %>
</ul>

<%= button_to "Crea Progetto", new_project_path, method: :get  %>