<br>
<h1>Lista di tutti i progetti</h1>
<br>
<table class="table table-striped">
  <% @projects.each do |project| %>
    <tr>
  
      <td  class="align-baseline"> <h5> <%= project.title %> </h5> </td>
      <td> <%= button_to "Info", {action: "show", id: project.id}, method: :get, class: "btn btn-outline-primary" %> </td>
   
    </tr>
  <% end %>
</table>

<br>
<%= button_to "Crea Progetto", new_project_path, method: :get, class: "btn btn-primary"   %>