<h1>Task</h1>
<p>Lista di tutti i task</p>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.title %> <%= button_to "Info", {action: "show", id: task.id}, method: :get %>
    </li>
  <% end %>
</ul>
